---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';

import { Image } from 'astro:assets';
import shadow from '../assets/shadow.jpg';
---

<Layout>
  <div class="prose mx-auto">
    <Welcome />
    <a href="/blog/first-post">first post</a> 😀
    <Image src={shadow} alt="shadow" class="max-w-md" />
  </div>
</Layout>
