---
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';
import { filterAllPosts, sortPostsByDate } from '~/content.config';
import Layout from '~/layouts/Layout.astro';
import AstroLogo from '~/components/AstroLogo.astro';

const blogPosts = (await getCollection('blog', filterAllPosts)).sort(
  sortPostsByDate
);
---

<Layout>
  <AstroLogo />
  <main class="prose mx-auto p-2 prose-li:my-0.5 prose-img:my-0 prose-img:rounded-md prose-img:shadow-lg">
    <div class="post-list grid grid-cols-1 sm:grid-cols-2 gap-4">
      {
        blogPosts.map((post) => (
          <a
            href={`/blog/${post.id}`}
            class="relative"
          >
            <Image
              src={post.data.image.src}
              alt={post.data.image.alt || ''}
              class="w-full h-60 object-cover object-bottom m-0 rounded-md shadow-lg"
            />
            <div class="absolute inset-0 flex items-center justify-center rounded-md p-1 text-3xl text-white bg-slate-800/10 hover:bg-slate-800/50 transition-all duration-200">
              {post.data.title}
            </div>
          </a>
        ))
      }
    </div>
    <p class="mt-12">
      <a href="https://github.com/jldec/astro-v5-blog-starter"
        >https://github.com/jldec/astro-v5-blog-starter</a
      >
    </p>
  </main>
</Layout>
