---
// https://docs.astro.build/en/recipes/tailwind-rendered-markdown/#setting-up-tailwindcsstypography
---

<div class="prose mx-auto prose-li:my-0.5 prose-img:my-0 prose-img:rounded-md prose-img:shadow-lg">
  <slot />
</div>
